@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.containerList {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
}

.headerFilter {
  padding: 20px 0px;
  width: calc(80% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleTask {
  font-size: 25px;
  font-weight: 600;
  text-decoration: underline;
}

.filter {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: $white;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px $black;
  border-radius: 6px;
  cursor: pointer;
}

.outsubTask {
  flex: 50%;
  min-width: 350px;
  max-width: 50%;
  display: flex;
}

.subTask {
  margin: 15px;
}
