@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.containerLogin {
  padding: 35px 30px;
  min-height: 300px;
  width: 350px;
  border-radius: 15px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 5px $D30;
  @include bg-gradient();
}

.backgroundLogin {
  height: 100vh;
  @include background("/BackgroundLogin.jpg", 100vw 100vh);
}

.backgroundRegister {
  min-height: 700px;
  height: 100vh;
  @include background("/BackgroundLogin.jpg", 100vw 100%);
}
