@import "../../styles/variables";
@import "../../styles/mixins";

.OutSlickImage {
  width: 100%;
  .SlickImages {
    align-items: center;
    width: 100%;
    margin-bottom: -35px;
    .OutImages {
      width: 100%;
      height: 100%;
      padding-bottom: 50px;
      .img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .ul li {
      height: unset;
      width: unset;
    }
    .dotsImg {
      width: 50px;
      height: 50px;
      @include responsive_medium() {
        width: 100%;
        max-height: 200px;
      }
    }
  }
  .pagingSlickImages{
    width: 100%;
    .OutImagesPaging{
      max-width: 140px;
      max-height: 140px;
      transition-duration: 0.5s;
      cursor: pointer;
      padding: 0 5px;
      opacity: 0.6;
      &:hover{
        opacity: 1;
        transform: scale(1.1);
      }
      .imgPaging{
        border-radius: 3px;
        width: 90%;
        object-fit: fill;
      }
    }
  }
}
