@import "../../styles/variables";
.Loading {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 99999;
  background-color: rgba($color: $black, $alpha: 0.3);
  .Animation {
    font-size: 50px;
    animation: rotateDot 2s infinite linear;
    animation-play-state: running;
  }
}
@keyframes rotateDot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
